In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
file_metro = "..\data_files\merged_metrodata_181920.csv"
bls_metro_df = pd.read_csv(file_metro)
bls_metro_df.head()

,Unnamed: 0,area,citi_state,occ_code,occ_title,tot_emp,emp_prse,jobs_1000,loc_quotient,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,Date,city,state
0,0,11260,"Anchorage, AK",00-0000,All Occupations,171770.0,1.1,1000.000,1.00,28.57,59430.0,2.1,11.41,14.94,22.68,35.82,51.21,23740.0,31070.0,47170.0,74510.0,106510.0,May 2018,Anchorage,AK
1,1,11260,"Anchorage, AK",11-0000,Management Occupations,10610.0,2.5,61.779,1.17,55.59,115630.0,1.8,26.68,36.03,48.94,64.70,93.24,55490.0,74950.0,101800.0,134580.0,193930.0,May 2018,Anchorage,AK
2,2,11260,"Anchorage, AK",11-2011,Advertising and Promotions Managers,50.0,16.5,0.282,1.62,45.98,95640.0,7.8,23.96,32.01,37.84,49.67,89.90,49830.0,66580.0,78710.0,103320.0,186990.0,May 2018,Anchorage,AK
3,3,11260,"Anchorage, AK",11-2021,Marketing Managers,150.0,12.9,0.867,0.52,49.62,103220.0,3.4,28.73,35.57,45.62,59.58,77.63,59760.0,73980.0,94890.0,123930.0,161480.0,May 2018,Anchorage,AK
4,4,11260,"Anchorage, AK",11-2031,Public Relations and Fundraising Managers,100.0,13.7,0.557,1.11,55.12,114650.0,8.4,28.48,35.40,48.55,65.02,78.77,59240.0,73640.0,100980.0,135240.0,163840.0,May 2018,Anchorage,AK

Remove the comment to have dataFrames load to postGres DB

In [4]:
from config import AWS

In [6]:
#connecting to postgres DB to create a new table
engine = create_engine(AWS)

bls_metro_df.to_sql('blsmetro', engine, if_exists='replace')